<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- text file connection: -->
    <add key="filePath" value="C:\Users\klaud\BudgetManager"/>
  </appSettings>
  <connectionStrings>
    <!-- sql connection: -->
    <add name="BudgetManagerDB" connectionString="Server=DESKTOP-2SUU186;Database=BudgetManagerDB;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

</configuration>